/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production.backup
.phpunit.result.cache
Dusk/screenshots/
Dusk/console/
Dusk/log/
.DS_Store
.editorconfig
.idea
.vscode
public/js
public/css
storage/logs
